.contacts-table {
  border: solid 1px #DDEEEE;
  font: normal 13px Arial, sans-serif;
}

.contacts-table thead th {
  background-color: #DDEEEE;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
}

.contacts-table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
}